body {
	padding: 0;
	color: #000;
	background-color: #006662;
	background-image: url(img/bokeh-1780217_1280-e1479715865310.png);
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	 	  background-size: cover;
	
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.5;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}




.sidebar {
	float: left;
	width: 180px;
	padding-bottom: 9px;
	background-color: #00767A;
	color: #000;
}
	
.footer {
	padding: 5px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	background-color: #006662;
	font-size: 15px;
	text-align: center;
	white-space: normal;
	color: #CCC;
}